.container{
    width: 50%;
    margin: auto;
    h1{
        text-align: center;
    }
    form{
        width: 100%;
        .form-group{
            margin-top: 20px;
            // line-height: 45px;
            input{
                float: right;
                width: 100%;
                padding: 10px 0px;
               
            }
        }
        .error{
            color: red;
        }
        button{
            margin-top: 20px;
        }
        
    }
}