.container {
  width: 50%;
  margin: auto;
  h1 {
    text-align: center;
  }
  .form-group{
    width: 100%;
    margin-bottom: 50px;
    
    input{
      width: 100% ;
      line-height: 35px;
    }
    button{
      margin-top: 30px;
    }
  }
}