.text{
    text-align: center;
    a{
        text-decoration: none;
        background-color: red;
        color: white;
        font-size: 17px;
        padding: 7px 15px;
        border-radius: 30px;
    }
}