a{
    font-weight:bold;
    font-size:20px;
    text-decoration: none;
}
*{
    font-family: 'Roboto', sans-serif;
}
@import url("https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css");
.example-spacer {
    flex: 1 1 auto;
  }